<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="quartz.host" type="FengYun.QuartzServer.Core.HostServiceConfiguration, FengYun.QuartzServer.Core" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--是否加载当前应用程序域下的所有程序集，默认仅加载默认应用程序域中的进程可执行文件-->
    <add key="LoadDomainAssemblys" value="false" />
  </appSettings>
  <!-- Host服务配置文件 -->
  <quartz.host serviceName="测试服务名称" serviceDisplayName="服务显示名称冻豆腐" serviceDescription="测试服务描述" serverImplementationTypeName="默认启动的调度器类型,必须继承自BaseHostSchedulerTaskServer"></quartz.host>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog31">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>